:root {
  --prymary-text-color: #212121;
  --title-text-color: #2196f3;
  --ithem-text-color: #757575;
  --button-color: #2196f3;
  --hero-color: #ffffff;
  --letter-spacing: 0.03em;
  --background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  margin: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.conteiner {
  width: 1200px;
  /* border: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.conteiner-icons {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  margin-bottom: 30px;
}

.section {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.section-hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/hero_Img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
  color: var(--prymary-text-color);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.text {
  font-family: Roboto;
  font-size: 14px;
}

/* Навигация */

header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--hero-color);
  border: 1px solid #ececec;
}

.header-page {
  padding-right: 25px;
}

.logo {
  font-family: Raleway;
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logo-studio {
  font-family: Raleway;
  color: #212121;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.nav-item-list {
  margin-left: 93px;
}

.nav-adress-ithem {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-adress-ithem:first-child {
  margin-right: 50px;
  margin-left: auto;
}

.current {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
}

.conteiner-nav {
  display: flex;
}

.adress-conteiner {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
  /* border: 2px solid navy; */
}

.color-link {
  color: var(--ithem-text-color);
  display: flex;
  align-items: center;
}

.class-contacs {
  display: flex;
  text-align: center;
  margin-left: auto;
}

.page-nav {
  display: flex;
  align-items: center;
}

.icon-mail {
  align-items: flex-start;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  justify-self: start;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

/* Шапка */

.hero-all {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  transition: color 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-ithem:hover,
.button-ithem:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #f5f4fa;
  padding: 6px 22px;
  border: none;
}
.button-ithem {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}

/* Особенности */

.about {
  padding-top: 94px;
}

.list-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-items {
  max-width: 270px;
  margin-left: 30px;
  justify-content: space-between;
  align-content: flex-start;
  text-align: left;
}

.features-items:first-child {
  margin-left: 0;
}

.heading {
  font-size: 36px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 50px;
  line-height: 1.16;
  color: var(--prymary-text-color);
  letter-spacing: var(--letter-spacing);
}

.heading-conteiner {
  padding-top: 94px;
  font-size: 36px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 50px;
  line-height: 1.16;
  color: var(--prymary-text-color);
  letter-spacing: var(--letter-spacing);
}

.text-list {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}

.head-list {
  color: #212121;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

/* Чем мы занимаемся */

/* .conteiner-list {
  display: flex;
  flex-wrap: wrap;
} */
.works-ithem {
  display: flex;
  justify-content: center;
}

/* .section-item {
  position: absolute;
} */

.photo-works {
  margin-left: 30px;
  position: relative;
}

.section-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgba(255, 255, 255, 1);
  line-height: 1.5;
  padding-left: 83px;
  padding-top: 27px;
  padding-right: 83px;
  padding-bottom: 27px;
}

/* .photo-works:hover {
  border: solid var(--button-color);
} */

.photo-works:first-child {
  margin-left: 0;
}

/* Наша команда */

.team-name-list {
  border: 30px;
}

.teams {
  padding: 90px 0;
  background-color: #f5f4fa;
}

.conteiner-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-name {
  margin-right: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name:first-child {
  margin-left: 15px;
}

.team-name:first-child {
  margin-left: 0%;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: none;
  letter-spacing: var(--letter-spacing);
}

.team-name-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

.team-social-link {
  fill: #afb1b8;
}

.container-social-team {
  margin-left: 40px;
  margin-right: 40px;
}

.conteiner-social-list {
  display: flex;
  justify-content: center;
}

.conteiner-social-item + .conteiner-social-item {
  margin-left: 30px;
}

.conteiner-social-link {
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  color: #afb1b8;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  fill: currentColor;
}

.conteiner-social-icon:hover,
.conteiner-social-icon:focus {
  fill: #2196f3;
}

.conteiner-social-icon {
  fill: #afb1b8;
  color: currentColor;
}

.conteiner-social-link:hover,
.conteiner-social-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.conteiner-section-icons {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  border: 2px solid tomato;
  width: 170px;
  height: 92px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  margin-bottom: 30px;
}

.conteiner-section-icons + .conteiner-section-icons {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
}

/* Подвал */

.ithem-adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.logo-ihtems {
  margin-bottom: 20px;
}

.logo-footer {
  font-family: Raleway;
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio-footer {
  font-family: Raleway;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.address-text > address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 20px;
}

.fotter {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-adress {
  margin-top: 9px;
}

.adress {
  margin-top: 20px;
}

.footer-center {
  margin-left: 70px;
}

.icons-footer + .icons-footer {
  margin-left: 10px;
}

.list-footer {
  display: flex;
  flex-direction: row;
}

.footer-backgraund {
  display: flex;
  align-items: baseline;
}

.logo-ihtems {
  margin-bottom: 20px;
}

.head-list {
  color: #212121;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 16px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.join {
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.join-link {
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  display: inline-flex;
}

.social-team-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  object-position: center;
}

/* Портфолио  */

/* ФИЛЬТР КНОПОК */

.list-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.buttons-num {
  margin-right: 8px;
}

/* Проекты */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ithem-progects {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.text-progects {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: var(--letter-spacing);
}

.list-progects {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: left;
  padding-bottom: 20px;
  cursor: pointer;
}

.list-progects:hover,
.list-progects:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-progects-text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.list-progects:nth-child(3n + 1) {
  margin-left: 0;
}

.conteiner-progects {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.type-progects {
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-progects:hover .section-img-text {
  transform: translateY(0%);
}

.section-item-wrap {
  position: relative;
  overflow: hidden;
}

.section-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgba(255, 255, 255, 1);
  line-height: 1.5;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

/* модалка */

.beckdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.beckdrop .is-hidden .modal {
  transform: scale(0.3);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--button-color);
  transition: color 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-field {
  /* color: #757575; */
  margin-bottom: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--title-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .icon-person,
.form-input:focus + .icon-person {
  fill: currentColor;
}

.form-text:focus,
.form-text:hover {
  border: 1px solid var(--title-text-color);
}

.form-input::placeholder {
  position: absolute;
  width: 416px;
  height: 96px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-person {
  position: absolute;
  display: inline-flex;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;

  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  display: block;
  margin-bottom: 4px;
}

.input-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.conteier-right-footer {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
}

.footer-right {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.head-list {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.input-mail {
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  margin-right: 12px;
}

.check-text {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chekbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;
}

.icon-check {
  display: block;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid var(--prymary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text .icon-check {
  background-color: var(--title-text-color);
  fill: #fff;
  border: none;
  transition: background-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-doc {
  border-bottom: 1px solid var(--title-text-color);
  line-height: 14px;
  margin-left: 2px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.btn-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.bnt-footer {
  margin-top: 28px;
}

.bnt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-send {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
