header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--hero-color);
  border: 1px solid #ececec;
}

.header {
  padding-right: 25px;
}

.header__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.header__item--list {
  margin-left: 93px;
}

.header__adress {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:first-child {
    margin-right: 50px;
    margin-left: auto;
  }
}

.current {
  color: var(--title-text-color);
}

.header__list {
  display: flex;
}

.header__conteiner {
  display: flex;
}

.adress__color--link {
  color: var(--ithem-text-color);
  display: flex;
  align-items: center;
}

.header__contacs {
  display: flex;
  text-align: center;
  margin-left: auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.adress__icon--mail {
  align-items: flex-start;
  margin-right: 10px;
  fill: currentColor;
}

.adress__icon--phone {
  justify-self: start;
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}
