// address {
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 1.71;
// }

.link {
  text-decoration: none;
  color: var(--prymary-text-color);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
