.about {
  padding-top: 94px;
}

.list-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-items {
  max-width: 270px;
  margin-left: 30px;
  justify-content: space-between;
  align-content: flex-start;
  text-align: left;
}

.features-items:first-child {
  margin-left: 0;
}

.heading {
  font-size: 36px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 50px;
  line-height: 1.16;
  color: var(--prymary-text-color);
  letter-spacing: var(--letter-spacing);
}

.heading-conteiner {
  padding-top: 94px;
  font-size: 36px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 50px;
  line-height: 1.16;
  color: var(--prymary-text-color);
  letter-spacing: var(--letter-spacing);
}

.text-list {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}

.head-list {
  color: #212121;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
